* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Press Start 2P', sans-serif;
    color: #000;
    text-shadow: -2px -2px 0 #ff00f7, 2px -2px 0 #7800a7, -2px 2px 0 #7800a7, 2px 2px 0 #7800a7;

    }
    a {
    text-decoration: none;
    color: inherit;
    }

    #bar-button {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: clamp(40px, 6vw, 60px);
    height: clamp(40px, 6vw, 60px);
    }

    .bar {
    width: 10vw;
    min-width: 120px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7800a7;
    border-right: 5px solid #ff00f7;
    border-left: 5px solid #ff00f7;
    position: fixed;
    top: 0;
    left: 1vw;
    z-index: 10;
    overflow: hidden; 
    }



    .bar {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(0);
    opacity: 1;
}

  
  .bar.hidden {
      transform: translateX(-120%); 
      opacity: 0;
  }




.bar-content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    grid-gap: 20px;
    margin-top: 120px; 
    padding: 0 5%;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1.5rem;
    width: 90%;
}
#buttons-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 150px;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(40px, 6vw, 60px); 
  width: clamp(40px, 6vw, 60px); 
  transition: transform 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
}
.button-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.buttons button:active {
  transform: scale(0.95);
}

.buttons button:active {
  content: url('web/emoji.png');
}

.buttons button {
    font-size: clamp(10px, 0.7vw, 20px);
    font-family: 'Press Start 2P', sans-serif;
    
    
    color: #ff4d00;
    border: 2.5px solid #ff5cde;
    background-color: transparent;
    padding: 0.25vw;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 0;
    width: 100%;
}

.buttons button:hover {
  color: #00ffd0;
  transform: scale(1.05);
}

#bar-button{
  user-select: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.Names{
    font-size: 2vw;
    align-items: center;
    text-align: center;    
}
.form{
    background-color: #7800a7;
    border: 4px solid #c024bb;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;

}
select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #c024bb;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1vw;
}
option,select,input{
    font-family: 'Press Start 2P', sans-serif;
    color: #ff00f7;
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#FNAF{
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border: #ff00f7 solid 10px;
    background-color: #49361e;

}
.fnafphoto{
    border: #ff00f7 solid 1px;
    width: 60px;
    
}
#wojciech {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    width: 40vw;
    height: auto;
}

#wojciech2 {
    z-index: -1;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    height: auto;
}




