* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Press Start 2P', sans-serif;
    color: #000;
    text-shadow: -2px -2px 0 #ff00f7, 2px -2px 0 #7800a7, -2px 2px 0 #7800a7, 2px 2px 0 #7800a7;

    }
    a {
    text-decoration: none;
    color: inherit;
    }

    #bar-button {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: clamp(40px, 6vw, 60px);
    height: clamp(40px, 6vw, 60px);
    }

    .bar {
    width: 10vw;
    min-width: 120px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7800a7;
    background: linear-gradient(180deg, #b100ab 0%, #7800a7 75%, #3e0057 100%);
    border-right: 5px solid #ff00f7;
    border-left: 5px solid #ff00f7;
    position: fixed;
    top: 0;
    left: 1vw;
    z-index: 10;
    overflow: hidden; 
    }



    .bar {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(0);
    opacity: 1;
}

  
  .bar.hidden {
      transform: translateX(-120%); 
      opacity: 0;
  }




.bar-content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    grid-gap: 20px;
    margin-top: 120px; 
    padding: 0 5%;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1.5rem;
    width: 90%;
}
#buttons-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 150px;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(40px, 6vw, 60px); 
  width: clamp(40px, 6vw, 60px); 
  transition: transform 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
}
.button-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.buttons button:active {
  transform: scale(0.95);
}

.buttons button:active {
  content: url('web/emoji.png');
}

.buttons button {
    font-size: clamp(10px, 0.7vw, 20px);
    font-family: 'Press Start 2P', sans-serif;
    
    
    color: #ff4d00;
    border: 2.5px solid #ff5cde;
    background-color: transparent;
    padding: 0.25vw;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 0;
    width: 100%;
}

.buttons button:hover {
  color: #00ffd0;
  transform: scale(1.05);
}

#bar-button{
  user-select: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

#icon1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  height: clamp(50px, 6vw, 80px);
  width: clamp(50px, 6vw, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 0.2s ease-in-out;
  z-index: 999;
  cursor: none;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1vw;
  cursor: pointer;
}

.icons img {
  height: clamp(50px, 3vw, 80px);
  width: auto;
  user-select: none;
}
.icons img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;

}
#videoOverlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}










/* Sam filmik w kwadracie na środku */
#popupVideo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none; /* brak możliwości kliknięcia */
}



















.buttons2 {
  display: flex;
  justify-content: space-between; 
  gap: 1rem;
  padding: 1vw; 
  border: 2px solid #ff5cde;
  border-radius: 10px;
  background-color: transparent;
  color: #ff4d00;
  width: fit-content; 
  margin: 1vw 1vw 0 auto; 
}

.buttons2 button {
  font-size: clamp(12px, 2vw, 25px);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  background: none;
  border: none; 
  color: inherit; 
  z-index: 10;
}

.buttons2 button:hover {
  color: #00ffd0;
  transform: scale(1.05);
}
  
  .maintext {
    text-align: center;
    z-index: 0;
  }
  
  
  #main1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 15vw;
    text-align: left;
    text-shadow: 0 0 5px #ff00f7, 0 0 10px #ff00f7, 0 0 20px #ff00f7, 0 0 40px #ff00f7;
  }

  #main1 p:first-child {
    font-size: clamp(50px, 10vw, 100px);
    color: #000;
  }

  #main1 p:nth-child(2) {
    font-size: clamp(40px, 8vw, 80px); 
    color: #000;
  }

  #main1 p:last-child {
    font-size: clamp(30px, 6vw, 60px); 
  }

  
  #main2 {
    max-width: 100%;
    height: 70vw auto;
    margin: 0 auto;
    margin-left: 30vw; 
    margin-top: -10vw; 
    user-select: none;
    cursor:pointer;
  }
  .emoji-wrapper {
  position: relative;       
  display: inline-block;   
            
}

#explosion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 80vw;
  height: auto;
  user-select: none;
  display: none;
  z-index: 20;
}

  .maintext2 {
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: #7800a7;
    padding: 0.30vw;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
  }
  #main4 {
    background-color: black;
    padding: 0.5vw;
    border-radius: 10px;
    z-index: 2;
    margin-left: 20vw;
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Press Start 2P', cursive;
    color: #ff00f7;
    text-shadow: 0 0 5px #ff00f7, 0 0 10px #ff00f7, 0 0 20px #ff00f7;
    overflow: hidden;
}


.screenlow{
  margin-left: 10vw;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}



.subtext{
  display: flex;
  flex-direction:row;
}
#Frennis {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
}
#Frennis2 img{
  margin-top: 7vw;
  width: auto;
  height: 15vw;
  z-index: -1;
  user-select: none;
}
#Frennis a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Frennis p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}


.subtext2{
  display: flex;
  flex-direction:row-reverse;
}
#Soulforge {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
  margin-right: 5vw;
}
#Soulforge2 img{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: auto;
  height: 20vw;
  z-index: -1;
  user-select: none;
  margin-right: 13vw;
}

#Soulforge a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Soulforge p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}

.subtext3{
  display: flex;
  flex-direction:row;
}
#Lobster {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
}
#Lobster2 img{
  margin-top: 5vw;
  width: auto;
  height: 20vw;
  z-index: -1;
  user-select: none;
}

#Lobster a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Lobster p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}



.subtext4{
  display: flex;
  flex-direction:row-reverse;
}
#Purifier {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
  margin-right: 5vw;
}
#Purifier2 img{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: auto;
  height: 20vw;
  z-index: -1;
  user-select: none;
  margin-right: 10vw;
  border: 5px solid #a139cc;
}

#Purifier a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Purifier p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}
.subtext5{
  display: flex;
  flex-direction:row;
}
#Synergy {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
  margin-right: 5vw;
}
#Synergy2 img{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: auto;
  height: 30vw;
  z-index: -1;
  user-select: none;
  margin-right: 5vw;
}

#Synergy a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Synergy p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}
.subtext6{
  display: flex;
  flex-direction:row-reverse;
}
#SynergyGame {
  margin-top: 2vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
  margin-right: 5vw;
}
#SynergyGame2 img{
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: auto;
  height: 20vw;
  z-index: -1;
  user-select: none;
  margin-right: 13vw;
}

#SynergyGame a {
  display: block;
  border: 5px solid #a139cc;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #a139cc;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#SynergyGame p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #a139cc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}
.subtext7{
  display: flex;
  flex-direction:row;
  margin-left: 25vw;

}
#Eremphobia {
  margin-top: 15vw;
  width: 40vw;
  display: inline-block;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  z-index: 2;
  margin-right: 5vw
}

#Eremphobia a {
  display: block;
  border: 5px solid #999999;
  border-radius: 10px 10px 0 0;
  padding: 0.5vw 1vw;
  background-color: #808080;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
#Eremphobia p {
  font-size: 1vw;
  display: block;
  color: #fff;
  border: 5px solid #747474;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5vw 1vw;
  background-color: black;
  text-align: center;
}
  .footer {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
  }

/* Info-------------NIE BIERZ TEGO POD UWAGE TO DO INNEGO PLIKU---------------------------------------------------------------------------------------------------------------------------- */
  #videoBox{
  display: none;
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#secretface{
  position:absolute;
  top:40vw;
  left:73vw;
  opacity: 0.06;
  z-index: 99999999;
}
  .maintext2-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7800a7;
    padding: 0.30vw;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    width: 100%;
  }
  #main4-info {
    background-color: black;
    padding: 0.5vw;
    border-radius: 10px;
    z-index: 2;
    margin-left: 0vw;
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Press Start 2P', cursive;
    color: #ff00f7;
    text-shadow: 0 0 5px #ff00f7, 0 0 10px #ff00f7, 0 0 20px #ff00f7;
    overflow: hidden;
}
        
    #curved-zeros {
        position: absolute;
        top: 16vw; 
        left: 0;
        height: 20vw;
        z-index: -10;
        overflow: visible; 
    }

    .curved-text-content {
        fill: #9933FF; 
        font-size: 20px;
    }

 #main2info {
    max-width: 100%;
    height: 70vw auto;
    margin: 0 auto;
    margin-left: 30vw; 
    margin-top: -10vw; 
    user-select: none;
    cursor:pointer;
  }
  #Synergyheader {
    font-size: 2vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    width: 50vw;
    text-align: center;
    padding: 20px ;
    color: #6dffb6;
  }
  #SynergyInfo{
    border: #ff00f7 solid 5px;
    font-size: 1.5vw;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50vw;
    text-align: center;
    line-height: 45px; 
  }
  #SynergyInfo img{
    margin-top: 2vw;
    width: auto;
    height: 20vw;
    z-index: -1;
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #prototype-characters{
  display: flex;
  gap: 10px; 
  justify-content: center; 
  align-items: center; 
}

  #prototype-characters img {
  max-width: 100%; 
  height: 15vw;
}


/* Study-------------NIE BIERZ TEGO POD UWAGE TO DO INNEGO PLIKU---------------------------------------------------------------------------------------------------------------------------- */

  .Names{
    font-size: 2vw;
    align-items: center;
    text-align: center;    
}
.form{
    background-color: #7800a7;
    border: 4px solid #c024bb;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;

}
select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #c024bb;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1vw;
}
option,select,input,button{
    font-family: 'Press Start 2P', sans-serif;
    color: #ff00f7;
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#FNAF{
    width: 710px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    border: #ff00f7 solid 10px;
    background-color: #972d77;

}
.fnafphoto{
    border: #ff00f7 solid 1px;
    width: 60px;
    
}
#wojciech {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    width: 40vw;
    height: auto;
}

#wojciech2 {
    z-index: -1;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40vw;
    height: auto;
}
.wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;;
    
    margin-top: 50px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none; /* startowo ukryte */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.result-box {
    text-align: center;
    color: #ff00f7;
}

.choices {
    margin-top: 20px;
}



#result {

    text-align: center;
    color: #000;
    text-shadow: -2px -2px 0 #ff00f7, 2px -2px 0 #7800a7, -2px 2px 0 #7800a7, 2px 2px 0 #7800a7;
    margin-top: 20px;
}

.SpinOption {
    padding: 10px 20px;
    cursor: pointer;
    background: #000;
    color: #ff00f7;
    border: 2px solid #ff00f7;
}

canvas {
    border-radius: 50%;
    border: 5px solid #ff00f7;
    background: #000;
}










  /* Responsywność */
  @media (max-width: 768px) {

    #bar-button {
      top: 5%;
      left: 5%;
      width: clamp(60px, 10vw, 90px);
      height: clamp(60px, 10vw, 90px);
      z-index: 1000;
      border: 2.5px solid #d32e9c;
      border-radius: 50%;
      background-color: #ff2bae;
      cursor: pointer;
      user-select: none;
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: auto !important;
      display: block;
    }
    
    #bar-button:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
      border-color: #30748f;
      background-color: #A9E6FE;
    }


    .bar {
        transform: translateX(-120%);
        opacity: 0;
        padding:10px 2%;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .bar.active {
        transform: translateX(0);
        opacity: 1;
    }
    .bar.hidden #icon1 {
      transform: none !important; 
      opacity: 1 !important;      
    }
    .icons{
      text-align: center;
      gap: 1rem;
      
    }
    #icon1 {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .main-container {
      padding: 0 2%;
    }
    .buttons2 {
      flex-direction: column;
      align-items: right;
    }
    #main1 > p:first-child {
      font-size: clamp(30px, 7.5vw, 60px);
      margin-left: 0vw;
      margin-top: 0vw;
      align-items: center;
    }

    #main1 > p:nth-child(2) {
      font-size: clamp(26px, 7vw, 52px);
      margin-left: 0vw;
      align-items: center;
    }

    #main1 > p:last-child {
      font-size: clamp(20px, 5.5vw, 42px);
      margin-left: 0vw;
      align-items: center;
    }

    #main2 {
      width: 90vw;
      height: auto;
      margin-left: 0;
      margin-top: 1vw;
      height: 60vw;
      width: 60vw;
      align-items: center;
      
    }
    .maintext2 {
      font-size: clamp(2px, 0.8vw, 1.5px);
      margin-top: 2vw;
    }
     /* Subtext Odd numbert are with marginleft*/
    .screenlow {
      display: flex;
      flex-direction: column;
      align-items: right;
      gap: 2rem;
      margin-top: 15vw;
      margin-left: 5vw;
      text-shadow: -1px -1px 0 #ff00f7,1px -1px 0 #7800a7,-1px  1px 0 #7800a7,1px  1px 0 #7800a7;
    }
    #Frennis p,#Soulforge p,#Lobster p,#Purifier p,#Synergy p,#SynergyGame p,#Eremphobia p {
      font-size: 65%;
    }
    .subtext7{
      margin-left: 0vw;
    }
    /* Info Page */
      #main2info {
      width: 100vw;
      height: auto;
      margin-left: 0;
      margin-top: 1vw;
      align-items: center;
      
    }
    #curved-zeros {
      position: absolute;
      top: 3000vw; 
      height: 40vw;
    }

    
  }
  
  @media (max-width: 480px) {
    .bar {
      flex-direction: column;
    }
    .buttons {
      gap: 1rem;
    }
    .icons {
      justify-content: center;
    }
    .main-container {
      margin-top: 140px;
    }
  }
  